{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <form action="/travels/{{ travel.id }}/edit" method="post">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="タイトル" type="text" value={{ travel.title }}>
        <input class="form-control mx-auto w-auto" id="date" name="date" type="date" value={{ travel.date }}>
        <input class="form-control mx-auto w-auto" id="location" name="location" placeholder="場所" type="text" value={{ travel.location }}>
        <input class="form-control mx-auto w-auto" id="report" name="report" placeholder="レポート" type="text" value={{ travel.report }}>
        <button class="form-control mx-auto w-auto" type="submit">更新する</button>
    </form>

{% endblock %}