{% extends "layout.html" %}

{% block title %}
    新規登録
{% endblock %}

{% block main %}

        <form action="/register" method="post">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="新規ユーザ名" type="text">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="メールアドレス" type="text">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="パスワード" type="password">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="パスワード(もう一度)" type="password">
            <div autocomplete="off" autofocus class="form-control mx-auto w-auto">
                <select class="imgSel" id="sel1" onChange="selectChange('sel1')">
                    <option value="">アイコンを選択</option>
                    <option value="static/icon/ゾウ.png">ゾウ</option>
                    <option value="static/icon/トナカイ.png">トナカイ</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">登録する</button>
        </form>
{% endblock %}