{% extends "layout.html" %}

{% block title %}
    新規登録
{% endblock %}

{% block main %}

        <form action="/register" method="post">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="新規ユーザ名" type="text">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="メールアドレス" type="text">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="パスワード" type="password">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="パスワード(もう一度)" type="password">
            
            <div class="select-icon">
                アイコンを選択してください<br>
                <input type="radio" name="icon" value="1">
                <img src="static/icon/1.png" class="icon" />
                <input type="radio" name="icon" value="2">
                <img src="static/icon/2.png" class="icon" />
                <input type="radio" name="icon" value="3">
                <img src="static/icon/3.png" class="icon" />
                <input type="radio" name="icon" value="4">
                <img src="static/icon/4.png" class="icon" />
            </div>
            <button class="form-control mx-auto w-auto" type="submit">登録する</button>
        </form>
{% endblock %}