{% extends "layout.html" %}

{% block title %}
    場所検索
{% endblock %}

{% block main %}
<form action="/new" method="get">
    <button type="submit">登録画面に戻る</button>
</form>

<form action="/visited_location" method="post">
    <input type="serch" name="location_name" value="{{ location }}">
    <button type="submit">検索</button>
</form>
<hr>
{% if message %}
<p>{{ massage }}</p>
{% endif %}
<form action="/new" method="get">
    <table>
        <tr>
            <th>検索結果</th>
        </tr>
        {% for loc in locations %}
            <tr>
                <td><input type="submit" id="location" name="location" value="{{ loc['description'] }}"></td>
            </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}