{% extends "layout.html" %}

{% block title %}
    Show_user
{% endblock %}

{% block main %}

    <p>{{ user.name }}</p>
    <p>{{ user.created_at}}</p>

    <table>
        <thead>

        </thead>
        <tbody>
            {% for travel in travels %}
            <tr>
                <td>{{ travel.created_at}}</td>
                <td>{{ travel.title }}</td>
                <td>{{ travel.date }}</td>
                <td>{{ travel.location }}</td>
                <td>{{ travel.report }}</td>
                <td><a href="/travels/{{ travel.id }}">link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}