{% extends "layout.html" %}

{% block title %}
    Travels
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <p>{{ travel.created_at}}</p>
    <p>{{ travel.title }}</p>
    <p>{{ travel.date }}</p>
    <p>{{ travel.location }}</p>
    <p>{{ travel.report }}</p>


    <img src="../static/images/post/{{ travel.user_id }}_{{ travel.id }}.jpg" width="100" height="100" alt onerror="this.onerror = null; this.src='';"><br>
    <img src="../static/images/post/{{ travel.user_id }}_{{ travel.id }}.png" width="100" height="100" alt onerror="this.onerror = null; this.src='';"><br>
    <img src="../static/images/post/{{ travel.user_id }}_{{ travel.id }}.gif" width="100" height="100" alt onerror="this.onerror = null; this.src='';"><br>

    <div>
        <table>
            <thead>
    
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr>
                    <td><a href="/users/{{ comment.user_id }}">{{ comment.user_name }}</a></td>
                    <td>{{ comment.body }}</td>
                    
                    <!-- ユーザーがコメント本人だったら、削除ボタンを表示 -->
                    {% if comment.user_id == user.id %}
                    <td>
                        <a href="/travels/{{ travel.id }}/comments/{{ comment.id }}/delete">コメント削除</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- コメント -->
    <form action="/travels/{{ travel.id }}/comments" method="post">
        <textarea class="form-control mx-auto w-auto" name="body" type="text" rows="3"></textarea>
        <button class="form-control mx-auto w-auto" type="submit">コメントを投稿する</button>
    </form>

    <!-- いいね -->
    {% if user_favorite_count == 0 %}
    <a href="/travels/{{ travel.id }}/favorites">♡{{ favorites_count }}</a>
    {% else %}
    <a href="/travels/{{ travel.id }}/favorites">♡いいね済み{{ favorites_count }}</a>
    {% endif %}


    <!-- ユーザーが投稿者本人だったら、編集ボタンと削除ボタンを表示 -->
    {% if travel.user_id == user.id %}
    <p><a href="/travels/{{ travel.id }}/edit">edit</a></p>
    <p><a href="/travels/{{ travel.id }}/delete">delete</a></p>
    {% endif %}

{% endblock %}