{% extends "layout.html" %}

{% block title %}
    Users
{% endblock %}

{% block main %}
    <form action="/users" method="post">
        <input type="text" name="search" placeholder="ユーザー名を入れてください">
        <button class="form-control mx-auto w-auto" type="submit">検索</button>
    </form>

    <table>
        <thead>

        </thead>
        <tbody>
            {% for user in users %}
                {% if search == "" or search in user.name %}
                    <tr>
                        <td><img src="../static/icon/{{ user.icon }}.png" class="icon"></td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.created_at}}</td>
                        <td><a href="/users/{{ user.id }}">link</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>

    </table>
    
{% endblock %}